<%- include('_header') %>
<body>
    <h1>Hi <%= name %>! </h1>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>
    <p>
        <a href="/users">Users</a>
    </p>
    <p>
        <a href="/groups">Groups</a>
    </p>
    <p>
        <a href="/groups_apps">Groups Apps</a>
    </p>
</body>