<%- include('../../_header') %>
    <body>
        <h1>App</h1>
        <% if(locals.permissions){ %>
           <% if(permissions.priv_insert){ %>
                <a class="button button-primary" href="/apps/form">New App</a>
           <% } %>
        <% } %>
        <form action="/apps/form/<%= locals.resultSet?resultSet.app_name_encoded?`${resultSet.app_name_encoded}?_method=PUT`:'':'' %>" method="POST">
            <div>
                <label <%= locals.resultSet?'':'for=app_name' %>>App Name</label>
                <input <%= locals.resultSet?'':`name=app_name` %> type="text" value="<%= locals.resultSet?resultSet.app_name?resultSet.app_name:'':'' %>" <%= locals.resultSet?resultSet.app_name?'disabled readonly':'':'' %>>

                <label for="description">Description</label>
                <input name="description" type="text" value="<%= locals.resultSet?resultSet.description?resultSet.description:'':'' %>">

                <label for="type">Type</label>
                <input name="type" type="text" value="<%= locals.resultSet?resultSet.type?resultSet.type:'':'' %>">

                <label for="is_door">Grant Permissions Manually</label>
                <input type="hidden" name="is_door" value="<%= locals.resultSet?resultSet.is_door?'1':'0':'0' %>"><input type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value" <%= locals.resultSet?resultSet.is_door?'checked':'':'' %>>
 
            </div>
            <input type="submit" value="Submit">
        </form>
        <a href="/apps">Back</a>
    </body>