<%- include('../../_header') %>
    <body>
        <h1>User</h1>
        <% if(locals.permissions){ %>
           <% if(permissions.priv_insert){ %>
                <a class="button button-primary" href="/users/form">New User</a>
           <% } %>
        <% } %>
        <form action="/users/form/<%= locals.resultSet?resultSet.login_encoded?`${resultSet.login_encoded}?_method=PUT`:'':'' %>" method="POST">
            <div>
                <label <%= locals.resultSet?'':'for=login' %>>Login</label>
                <input <%= locals.resultSet?'':`name=login` %> type="text" value="<%= locals.resultSet?resultSet.login?resultSet.login:'':'' %>" <%= locals.resultSet?resultSet.login?'disabled readonly':'':'' %>>

                <label for="email">Email</label>
                <input name="email" type="text" value="<%= locals.resultSet?resultSet.email?resultSet.email:'':'' %>">

                <label for="name">Name</label>
                <input name="name" type="text" value="<%= locals.resultSet?resultSet.name?resultSet.name:'':'' %>">

                <label for="password"><%= locals.resultSet?'Change Password':'Password'%></label>
                <input type="password" name="password">
                <label for="password2">Confirm password</label>
                <input type="password" name="password2">

                <label for="active">Active</label>
                <input type="hidden" name="active" value="<%= locals.resultSet?resultSet.active?'1':'0':'1' %>"><input type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value" <%= locals.resultSet?resultSet.active?'checked':'':'checked' %>>
                
                <% if(locals.userGroups){ %>
                    <div style="font-size: 85%;">
                        <h2>Groups</h2>
                        <% userGroups.forEach((group, index)=>{ %>
                            <div style="display: inline-block; margin: auto 10px;">
                                <label for="group_<%= group.id_group %>"><%= group.description %></label>
                                <input name="group_<%= group.id_group %>" type="checkbox"  <%= group.belongs?'checked':'' %>>
                            </div>
                        <% }) %>
                    </div>
                <% } %>
            </div>
            <input type="submit" value="Submit">
        </form>
        <a href="/users">Back</a>
    </body>