<%- include('../../_header') %>

    <body>
        <h1>Users List</h1>
        <% if(locals.permissions){ if(locals.permissions.priv_insert){ %>
            <a class="button button-primary" href="/users/form/">New User</a>
        <% }} %>    
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>
                <% if(locals.resultSet){ %>
                    <% resultSet.forEach((row) => { %>
                        <tr>
                            <td>
                                <%if(locals.permissions.priv_update){%>
                                    <a href="/users/form/<%= row.login_encoded %>"><i class="far fa-edit"></i></a>
                                <%}%>
                                <%if(locals.permissions.priv_delete){%>
                                    <form id="delete_form_<%= row.login_encoded %>" style="display: inline-block; margin:0" action="/users/form/<%= row.login_encoded %>?_method=DELETE" method="POST" row_id="<%= row.login_encoded %>">
                                        <i class="far fa-trash-alt delete-icon" ></i>
                                    </form>
                                <%}%>
                            </td>
                            <td>
                                <%= row.login %>
                            </td>
                            <td>
                                <%= row.email %>
                            </td>
                            <td>
                                <%= row.name %>
                            </td>
                            <td>
                                <% if(row.active){ %>
                                    <i class="fas fa-check"></i>
                                <% }else{%>
                                    <i class="fas fa-times"></i>
                                <% }%>
                            </td>
                        </tr>
                    <% }); %>
                <% }else{%>
                    <p>No rows selected.</p>
                <% }%>
            </tbody>
        </table>
        <a href="/">Back to main</a>
        <%- include('../../_scripts') %>
        <% if(locals.app_type){ %>
            <% if(app_type == 'grid'){ %>
                <script>deleteFromGrid()</script>
            <% } %>
        <% } %>
        <% if(locals.action){ %>
            <% if(action == 'delete'){ %>
                <script>
                    Swal.fire(
                        'Success',
                        'Record deleted.',
                        'success'
                    )
                </script>
            <% }else if(action == 'update'){ %>
                <script>
                    Swal.fire(
                        'Success',
                        'Record updated.',
                        'success'
                    )
                </script>
            <% }else if(action == 'insert'){%>
                <script>
                    Swal.fire(
                        'Success',
                        'Record inserted.',
                        'success'
                    )
                </script>
            <% }%>
        <% } %>
    </body>
