<%- include('../../_header') %>

    <body>
        <h1>Group</h1>
        <% if(locals.permissions){ %>
           <% if(permissions.priv_insert){ %>
                <a class="button button-primary" href="/groups/form">New Group</a>
           <% } %>
        <% } %>
        <form action="/groups/form<% if(locals.resultSet){%><%=`/${resultSet.id_group}?_method=PUT`%><%}%>" method="POST">
            <div>
                <label>ID</label>
                <input type="number" value="<% if(locals.resultSet){%><%=`${resultSet.id_group}`%><%}%>" readonly disabled>

                <label for="description">Description</label>
                <input name="description" type="text" value="<% if(locals.resultSet){%><%=`${resultSet.description}`%><%}%>">
            </div>
            <input type="submit" value="Submit">
        </form>
        <a href="/groups">Back</a>
    </body>