<%- include('../../_header') %>

    <body>
        <h1>Groups List</h1>
        <% if(locals.permissions){ if(permissions.priv_insert){ %>
            <a class="button button-primary" href="/groups/form/">New Group</a>
        <% }} %>    
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <% if(locals.resultSet){ %>
                    <% resultSet.forEach((row) => { %>
                        <tr>
                            <td>
                                <%if(permissions.priv_update){%>
                                    <a href="/groups/form/<%= row.id_group %>"><i class="far fa-edit"></i></a>
                                <%}%>
                                <%if(permissions.priv_delete){%>
                                    <form id="delete_form_<%= row.id_group %>" style="display: inline-block; margin:0" action="/groups/form/<%= row.id_group %>?_method=DELETE" method="POST" row_id="<%= row.id_group %>">
                                        <i class="far fa-trash-alt delete-icon" ></i>
                                    </form>
                                <%}%>
                            </td>
                            <td>
                                <%= row.id_group %>
                            </td>
                            <td>
                                <%= row.description %>
                            </td>
                        </tr>
                    <% }); %>
                <% }else{%>
                    <p>No rows selected.</p>
                <% }%>
            </tbody>
        </table>
        <a href="/">Back to main</a>
        <%- include('../../_scripts') %>
        <% if(locals.app_type){ %>
            <% if(app_type == 'grid'){ %>
                <script>deleteFromGrid()</script>
            <% } %>
        <% } %>
        <% if(locals.action){ %>
            <% if(action == 'delete'){ %>
                <script>
                    Swal.fire(
                        'Success',
                        'Record deleted.',
                        'success'
                    )
                </script>
            <% }else if(action == 'update'){ %>
                <script>
                    Swal.fire(
                        'Success',
                        'Record updated.',
                        'success'
                    )
                </script>
            <% }else if(action == 'insert'){%>
                <script>
                    Swal.fire(
                        'Success',
                        'Record inserted.',
                        'success'
                    )
                </script>
            <% }%>
        <% } %>
    </body>
