<%- include('../../_header') %>

<body>
    <h1>Select Group</h1>

    <form action="/groups_apps" method="POST">
        <label for="group">Select Group</label>
        <select name="group">
            <% if(locals.resultSet){ %>
                <% resultSet.forEach(group => { %>
                    <option value="<%= group.id_group %>"><%= group.description %></option>
                <% }); %>
            <% } %>
        </select>
        <input type="submit" value="Select">
    </form>
    <a href="/">Back to main</a>
</body>

<%- include('../../_scripts') %>
<% if(locals.app_type){ %>
    <% if(app_type == 'grid'){ %>
        <script>deleteFromGrid()</script>
    <% } %>
<% } %>
<% if(locals.action){ %>
    <% if(action == 'delete'){ %>
        <script>
            Swal.fire(
                'Success',
                'Record deleted.',
                'success'
            )
        </script>
    <% }else if(action == 'update'){ %>
        <script>
            Swal.fire(
                'Success',
                'Record updated.',
                'success'
            )
        </script>
    <% }else if(action == 'insert'){%>
        <script>
            Swal.fire(
                'Success',
                'Record inserted.',
                'success'
            )
        </script>
    <% }%>
<% } %>