<%- include('../../_header') %>

<body>
    <h1>Apps Permissions</h1>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Access</th>
                    <th>Edit</th>
                    <th>Insert</th>
                    <th>Delete</th>
                    <th>Print</th>
                </tr>
            </thead>
            <tbody>
                <form id="apps" action="/groups_apps/<%= locals.idGroup?idGroup:''%>" method="POST">
                    <input type="submit" value="Submit" form="apps">
                    <% if(locals.resultSet){%>
                        <% resultSet.forEach(row => { %>
                            <tr>
                                <tr>
                                    <td><%= row.description %></td>
                                    <td>
                                        <input type="hidden" name="access_<%= row.app_name %>" value="<%= row.priv_access?'1':'0' %>"><input type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value" <%= row.priv_access?'checked':'' %>>
                                    </td>
                                    <td>
                                        <input type="hidden" <%= row.type=='form'?`name=update_${row.app_name}`:'' %> value="<%= row.priv_update?'1':'0' %>"><input type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value" <%= row.priv_update?'checked':'' %> <%= row.type!='form'?'disabled':'' %>>
                                    </td>
                                    <td>
                                        <input type="hidden" <%= row.type=='form'?`name=insert_${row.app_name}`:'' %> value="<%= row.priv_insert?'1':'0' %>"><input type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value" <%= row.priv_insert?'checked':'' %> <%= row.type!='form'?'disabled':'' %>>
                                    </td>
                                    <td>
                                        <input type="hidden" <%= row.type=='form'?`name=delete_${row.app_name}`:'' %> value="<%= row.priv_delete?'1':'0' %>"><input type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value" <%= row.priv_delete?'checked':'' %> <%= row.type!='form'?'disabled':'' %>>
                                    </td>
                                    <td>
                                        <input type="hidden" name="report_<%= row.app_name %>" value="<%= row.priv_report?'1':'0' %>"><input type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value" <%= row.priv_report?'checked':'' %>>
                                    </td>
                                </tr>
                            </tr>
                        <% }); %>
                    <% } %>
                </form>
            </tbody>
        </table>
    </div>
    <a href="/groups_apps">Back to select group</a>
</body>